@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Dashboard Mi camioncito</h1>
        <div class="row">
            <div class="d-grid gap-2 d-md-flex mx-auto">
                <a class="btn btn-primary" href="../Cliente/IndexCliente" role="button">Agregar Cliente</a>
                <a class="btn btn-primary" href="../Vehiculo/IndexVehiculo" role="button">Agregar Vehiculo</a>
                <a class="btn btn-primary" href="../Empleado/IndexEmpleado" role="button">Agregar Piloto o Ayudante</a>
                <a class="btn btn-primary" href="../Servicio/IndexServicio" role="button">Visualizar servicios</a>
            </div>
        </div>
    </div>
</div>