
@{
    ViewBag.Title = "IndexVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Listado de Vehiculos disponibles</h2>
        </div>
        <div class="col-md-2 offset-md-6">
            <a class="btn btn-primary" href="../Home/Index" role="button">Regresar</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Consumo</th>
                        <th scope="col">Distancia</th>
                        <th scope="col">Disponibilidad</th>
                        <th scope="col">Depreciacion</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

